header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.title{
    font-size: 49px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.icono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 185px;
}

main{
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    transition: 0.3s ease, filter 0.3s ease;
}
.container:hover{
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
}
.arrow{
    position: absolute;
    bottom: -100px;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}