#historia{
    margin-top: 25px;
    min-height: 500px;
    margin-bottom: 50px;
}
.title-section{
    font-family: var(--fuente-titulo);
    font-size: 32px;
    text-align: center;
}
.title-section::after{
    content: '';
    display: block;
    width: 300px;
    height: 3px;
    background-color: var(--color-rojo);
    margin: 0 auto;
    margin-bottom: 15px;
}
#timeline-container{
    min-height: 600px;
    width: 100%;
}
.tl-text .tl-timeline {
  font-family: 'Montserrat', sans-serif !important;
}
.tl-text .tl-headline{
  color: var(--color-negro) !important;
}
.tl-headline {
  font-family: 'Bebas Neue' !important;
}
