.titulos{
    position: relative;
    background:
     linear-gradient(to top, var(--color-negro), #000000)
     ;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
}
.titulos .title-section{
    color: #fff;
}